body{
	width: 100%;
	height: 100%;
}

.home{
	min-height: 450px;
	background-image: url("../img/home-bg.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.about{
	min-height: 450px;
	background-image: url("../img/about-bg.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.contact{
	min-height: 450px;
	background-image: url("../img/contact-bg.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;	
}

.sample{
	min-height: 600px;
	background-image: url("../img/post-bg.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}

#jumbotron{
	padding: 0;
}

#brand{
	font-size: 18px;
	font-weight: 1000;
}

nav .navbar{
	background: transparent;
}

#nav-link{
	padding: 12px 18px 10px 20px;
	font-size: 13px;
	font-family:  'Open Sans', sans-serif;
	font-weight: 700;
}

#nav-link:hover{
	color: #a6a6a6;
}

.nav-link{
	color: white;
}

.navbar-brand{
	color: white;
}

.navbar-brand:hover{
	color: #a6a6a6;
}

.jumbotron, .jumbotron-fluid .container{
	padding-top: 7%;
	padding-left: 15%;
	padding-right: 15%;
}

#display-4{
	font-weight: 900;
	font-size: 80px;
}

#display-41{
	font-weight: bolder;
	font-size: 55px;
	padding-right: 15%;
}

#lead{
	font-size: 25px;
}

#lead1{
	font-size: 30px;
	font-weight: 540;
}

#extra #lead{
	font-family: 'Fira Sans', sans-serif;
	font-weight: normal;
	padding-left: 0;
	font-size: 20px;
}

#lead a{
	text-decoration: underline;
	color: white;
}

hr{
	padding: 2px;
	background-color: white;
	width: 10%;
}

article{
	padding: 5% 16% 5% 18%;
}

.quotes{
	color: #404040;
	font-size: 25px;
	font-weight: 200;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.quotes span{
	font-size: 35px;
	color: #333;	
	line-height: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.quotes:hover{
	text-decoration: none;
}

.quotes span:hover{
	color: #0073e6;
}

.Blog p{
	color: grey;
}

.Blog-about p{
	font-weight: 535;
	word-spacing: 3px;
	font-size: 21px;
	color: #404040;
	font-family: Lora,'Times New Roman', sans-serif;
}

.contact-text p{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.Blog p a{
	color: #333;
}

.Blog p a:hover{
	color: #0073e6;
}

.blog{
	width: 100%;
	padding: 5px 0px 5px 0px;
}

.contact-hr{
	width: 100%;
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

footer{
	text-align: center;
}

#button:hover{
	color: white;
}

#button{
	float: right;
	font-weight: 1000;
	font-size: 14px;
	color: #4d4d4d;
	border: 0.5px solid grey;
	border-radius: 2px;
	padding: 10px 20px 12px 15px;
}

#button1:hover{
	color: white;
}

#button1{
	font-weight: 1000;
	font-size: 14px;
	color: #4d4d4d;
	border: 0.5px solid grey;
	border-radius: 2px;
	padding: 12px 25px 14px 25px;
	width: 90px;
	height: 50px;
}

.fab{
	font-size: 2.8em;
	color: #595959;
}

i{
	padding-left: 12px;
	padding-right: 12px;
}

i:hover{
	color: #248f8f;
}

.copyright{
	color: #b3b3b3;
}

.input{
	margin: 0;
	font-size: 20px;
	width: 100%;
	border: none;
	border-color: transparent;
	height: 50px;
}

.input:focus{
	outline: none;
}

textarea{
	margin: 0;
	width: 100%;
	height: 150px;
	border: none;
	border-color: transparent;
	font-size: 20px;
}

textarea:focus{
	outline: none;
}

::placeholder{
	font-size: 22px;
	color: #a6a6a6;
}

.para{
	font-size: 20px;
	word-spacing: 2px;
	font-family: Lora,'Times New Roman',sans-serif;
}

.para a{
	text-decoration: underline;
	color: #212529;
}

.little{
	font-size: 20px;
	color: #aab3bb;
	border-left: 5px solid #f1f2f4;
	padding-left: 15px;
	font-style: italic;
	font-family: 'Times';
}

article h1{
	color: #212529;
	font-weight: 500;
}

figcaption{
	text-align: center;
	color: #aab3bb;
	font-family: Lora,'Times New Roman',sans-serif;
	font-style: italic;
}